@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/GT-Walsheim-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/GT-Walsheim-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/GT-Walsheim-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/GT-Walsheim-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
} 